<div class="modal fade fixed-right" id="modalDemo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical" role="document">
    <form class="modal-content" id="demoForm">
      <div class="modal-body">

        <!-- Close -->
        <a class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>

        <!-- Image -->
        <div class="text-center">
          <img src="@@webRoot/assets/img/illustrations/designer-life.svg" alt="..." class="img-fluid mb-3">
        </div>

        <!-- Heading -->
        <h2 class="text-center mb-2">
          Make Dashkit Your Own
        </h2>

        <!-- Text -->
        <p class="text-center mb-4">
          Set preferences that will be cookied for your live preview demonstration.
        </p>

        <!-- Divider -->
        <hr class="mb-4">

        <!-- Heading -->
        <h4 class="mb-1">
          Color Scheme
        </h4>

        <!-- Text -->
        <p class="small text-muted mb-3">
          Overall light or dark presentation.
        </p>

        <!-- Button group -->
        <div class="btn-group-toggle d-flex mb-4" data-toggle="buttons">
          <label class="btn btn-white col">
            <input type="radio" name="colorScheme" id="colorSchemeLight" value="light"> <i class="fe fe-sun mr-2"></i> Light Mode
          </label>
          <label class="btn btn-white col ml-2">
            <input type="radio" name="colorScheme" id="colorSchemeDark" value="dark"> <i class="fe fe-moon mr-2"></i> Dark Mode
          </label>
        </div>

        <!-- Heading -->
        <h4 class="mb-1">
          Navigation Position
        </h4>

        <!-- Text -->
        <p class="small text-muted mb-3">
          Select the primary navigation paradigm for your app.
        </p>

        <!-- Button group -->
        <div class="btn-group-toggle d-flex mb-4" data-toggle="buttons">
          <label class="btn btn-white col">
            <input type="radio" name="navPosition" id="navPositionSidenav" value="sidenav"> Sidenav
          </label>
          <label class="btn btn-white col ml-2">
            <input type="radio" name="navPosition" id="navPositionTopnav" value="topnav"> Topnav
          </label>
          <label class="btn btn-white col ml-2">
            <input type="radio" name="navPosition" id="navPositionCombo" value="combo"> Combo
          </label>
        </div>

        <!-- Collapse -->
        <div class="collapse show" id="sidebarSizeContainer">

          <!-- Heading -->
          <h4 class="mb-1">
            Sidenav Sizing <span class="badge badge-soft-primary">New</span>
          </h4>

          <!-- Text -->
          <p class="small text-muted mb-3">
            Standard navigation sizing or minified icons with dropdowns.
          </p>

          <!-- Button group -->
          <div class="btn-group-toggle d-flex mb-4" data-toggle="buttons">
            <label class="btn btn-white col">
              <input type="radio" name="sidebarSize" id="sidebarSizeBase" value="base"> Fullsize
            </label>
            <label class="btn btn-white col ml-2">
              <input type="radio" name="sidebarSize" id="sidebarSizeSmall" value="small"> Icons
            </label>
          </div>

        </div>

        <!-- Heading -->
        <h4 class="mb-1">
          Navigation Color <span class="badge badge-soft-primary">New</span>
        </h4>

        <!-- Text -->
        <p class="small text-muted mb-3">
          Usually dictated by the color scheme, but can be overriden.
        </p>

        <!-- Button group -->
        <div class="btn-group-toggle d-flex" data-toggle="buttons">
          <label class="btn btn-white col">
            <input type="radio" name="navColor" id="navColorDefault" value="default"> Default
          </label>
          <label class="btn btn-white col ml-2">
            <input type="radio" name="navColor" id="navColorInverted" value="inverted"> Inverted
          </label>
          <label class="btn btn-white col ml-2">
            <input type="radio" name="navColor" id="navColorVibrant" value="vibrant"> Vibrant
          </label>
        </div>

      </div>
      <div class="modal-footer border-0">

        <!-- Button -->
        <button type="submit" class="btn btn-block btn-primary mt-auto">
          Preview
        </button>

      </div>
    </form>
  </div>
</div>
